VIC-animated/
hyperd.log
nsw_animated/
nsw_animated_linear/
vic_animated/
vic_animated_linear/
nz_animated/
nz_animated_linear/
act_animated/
act_animated_linear/
sa_animated/
sa_animated_linear/
qld_animated/
qld_animated_linear/
tas_animated/
tas_animated_linear/
__pycache__
