[Unit]
Description=Update target projections in html and post vax plots to reddit

[Service]
ExecStart=/home/bilbo/chrisbillington.net/chrisjbillington.github.io/timers/post-vax/post-vax.sh
User=bilbo
