[Unit]
Description=Update TAS plots and post to reddit

[Service]
ExecStart=/home/bilbo/chrisbillington.net/chrisjbillington.github.io/timers/update-tas-and-post/update-tas-and-post.sh
User=bilbo
