[Unit]
Description=Update ACT plots and post to reddit

[Service]
ExecStart=/home/bilbo/chrisbillington.net/chrisjbillington.github.io/timers/update-act-and-post/update-act-and-post.sh
User=bilbo
